@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    font-family: 'Nunito Sans', sans-serif;
}

/*info section css*/

#info-section {
    height: 90vh;
}

#info-section h1{
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 87px;
    color: #000000;
    
}

#info-section p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

#info-section .support-team{
    color: #000000;
    font-weight: 900; 
}
#info-section input[type="email"]{
    width: 404px;
    height: 4.125rem;
    padding: 10px;
    color: #4F4F4F;
    border-left: 6px solid #19303E;
    margin: 0;
   
}

#info-section input[type="submit"]{
    background: #399BB6;
    color: #ffffff;
    font-size: 1.125rem;
    padding: 10px;
    width: 6rem;
    height: 4.125rem;
    outline: none;
    border: none;
    margin: 0;
}

#info-section .second-col img{
    width: 450px;
    height: auto;
}

/*card section css*/
#card-section {
    margin-top: 20px;
}

#card-section .card {
    background: #DEF7FE;
    border-radius: 30px 30px 0px 30px;
    width: 22.5rem;
    height: 17rem;
    background: #DEF7FE;
    margin-right: 5px;
}

#card-section .special-card {
    background: #399BB6 !important;
}

.card .card-body p{
    font-size: 1.5rem;
    font-weight: bold;
}

/*signup section css */
#signup-section {
    margin-top: 25px;
    padding: 50px 0;
    background: #DEF7FE;  
}

#signup-section .container{
    padding-bottom: 30px 5px;
}

#signup-section .second-col {
    padding-top: 45px;
}

.second-col h2{
    font-weight: bold;
    font-size: 2.25rem;
}

#signup-section button {
    background: #FFFFFF;
    border-radius: 30px 30px 0px 30px;
    color: #000000;
}

button .fas {
    color: #19303E;
}

/*medication section css*/

#medication-section{
    margin-top: 25px;
    padding: 50px 0;
}

#medication-section h2 {
    font-weight: bold;
    font-size: 2.25rem;
}
#medication-section .first-col{
    padding-top: 45px;
}
#medication-section button{
    background: #DEF7FE;
    border-radius: 30px 30px 0px 30px;
    color: #000000;
}
/*contact section css*/
#contact-section {
    margin-top: 25px;
    padding: 50px 0;
    background: #DEF7FE;  
}

#contact-section .second-col{
    padding-top: 45px;
}

#contact-section .second-col h2{
    font-weight: bold;
    font-size: 2.25rem;
}

#contact-section button {
    background: #FFFFFF;
    border-radius: 30px 30px 0px 30px;
    color: #000000;
}

button .fas{
    color:#19303E;;
}

/*checkup section css*/
#checkup-section {
    margin-top: 25px;
    padding: 50px 0;
    background: #DEF7FE; 
}

#checkup-section .first-col{
    padding-top: 50%;
}

#checkup-section .first-col h2 {
    font-weight: bold;
    font-size: 2.25rem;
}

#checkup-section button {
    background: #DEF7FE;
    border-radius: 30px 30px 0px 30px;
    color: #000000;
}

button .fas{
    color:#19303E;;
}

/*coming out section*/
#coming-out-section{
    margin-top: 25px;
    padding: 50px 0;
    background: #19303E;
}
#coming-out-section h2 {
    color: #ffffff;
    padding-bottom: 20px;
}
#coming-out-section span{
    color: #399BB6 !important;
    font-style: normal;
    font-weight: 900;
}

#coming-out-section p {
    font-size: 1.125rem;
}

#coming-out-section input[type="email"]{
    width: 404px;
    height: 4.125rem;
    padding: 10px;
    color: #4F4F4F;
    border-left: 6px solid #19303E;
    margin: 0;
   
}

#coming-out-section input[type="submit"]{
    background: #399BB6;
    color: #ffffff;
    font-size: 1.125rem;
    padding: 10px;
    width: 6rem;
    height: 4.125rem;
    outline: none;
    border: none;
    margin: 0;
}







/*media query*/

@media screen and  (max-width: 990px){
    #info-section .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .second-col{
        flex: 100%;
    }
        
    
}